!.ammonite/
!.cargo/
!.config/
!.docker/
!.fzf/
!.git/
!.git_template/
!.gitconfig/
!.gnupg/
!.ipython/
!.jfrog/
!.kube/
!.local/
!.mc/
!.minikube/
!.npm/
!.odo/
!.oh-my-zsh/
!.sbt/
!.ssh/
!.terminfo/
!.themes/
!.tmux/
!.var/
!.vs-kubernetes/
!.vscode/
!.yarn/
!Documents/
!Downloads/
!Drivers/
!Videos/
!config-bak/
!dev/
!go/
!keys/
!local/
!opt/
!tools/
*.log
.cache/
.cisco/
.crc/
.cups/
.dia/
.dropbox-dist.backup/
.dropbox-dist/
.dropbox/
.eclipse/
.fonts/
.g8/
.gconf/
.gem/
.gnome/
.gnome2/
.gphoto/
.helm/
.ibm-kvm-samba/
.ivy2/
.java/
.jupyter/
.mozilla/
.mutt/
.pki/
.rustup/
.swt/
.vim/
.viminfo/
.zsh/
CiscoSpark/
Desktop/
Dropbox/
Mail/
Music/
Pictures/
Public/
Templates/
bin/
broot/launcher/bash/br
broot/launcher/installed-v1
lotus/
motivate/
node_modules/
nvim/plugin/packer_compiled.lua
package-lock.json
package.json
packer_compiled
workplace-tmp/
xterm-256color-italic.terminfo/
nvim/lua/packer_compiled.lua
nvim/spell/en.utf-8.add.spl
nvim/lua/compiled.lua
home/robbyk/.dotfiles/.vscode/diff
.vscode
